:root {
  --color-background-primary: #ffffff;
  --color-background-secondary: #f7f5ef;
  --color-background-tertiary: #eeeae0;

  --color-text-primary: #1a1a2e;
  --color-text-secondary: #6f6b62;

  --color-border-secondary: #d8d0bd;
  --color-border-tertiary: #e7dfcf;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}